<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OFICJALNA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E459B4B41DA1341100A51E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E459B4CD1DA1341100A51E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E459B4D81DA1341100A51E51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
